html {
  height: 100%;
}
body.terminal,
body.full-screen-terminal {
  margin: 0;
  height: 100%;
}
body.full-screen-terminal .terminal {
  height: 100%;
}
.terminal {
  background-color: black;
  color: white;
}
.cmd {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  color: white;
  background-color: black;
  font-family: monospace;
}
